
{% include "header2.html" %}
{% load static %}



<!-- Properties section body start -->
<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="page-name">
            <h1>Services</h1>
            <ul>
                <li><a href="index.html">Index</a></li>
                <li><span>/</span>Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Services 2 start -->
<div class="services-2 content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Property Services</h1>
        </div>
        <div class="row wow">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service-info-5">
                    <i class="flaticon-lock"></i>
                    <h4>Security</h4>
                    <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service-info-5">
                    <i class="flaticon-technology"></i>
                    <h4>Air conditioning</h4>
                    <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service-info-5">
                    <i class="flaticon-vehicle"></i>
                    <h4>Garages</h4>
                    <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service-info-5">
                    <i class="flaticon-coins"></i>
                    <h4>Commercial</h4>
                    <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service-info-5">
                    <i class="flaticon-apartment"></i>
                    <h4>Apartments Clean</h4>
                    <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service-info-5">
                    <i class="flaticon-people-2"></i>
                    <h4>Gym</h4>
                    <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service-info-5">
                    <i class="flaticon-people"></i>
                    <h4>Trusted Agents</h4>
                    <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="service-info-5">
                    <i class="flaticon-clock"></i>
                    <h4>Alarm</h4>
                    <p>Lorem ipsum dolor sit amet, consectur adipisicing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters strat -->
<div class="counters">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media counter-box">
                    <div class="media-left">
                        <i class="flaticon-tag"></i>
                    </div>
                    <div class="media-body">
                        <h1 class="counter">967</h1>
                        <p>Listings For Sale</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media counter-box">
                    <div class="media-left">
                        <i class="flaticon-business"></i>
                    </div>
                    <div class="media-body">
                        <h1 class="counter">1276</h1>
                        <p>Listings For Rent</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media counter-box">
                    <div class="media-left">
                        <i class="flaticon-people"></i>
                    </div>
                    <div class="media-body">
                        <h1 class="counter">396</h1>
                        <p>Agents</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="media counter-box">
                    <div class="media-left">
                        <i class="flaticon-people-1"></i>
                    </div>
                    <div class="media-body">
                        <h1 class="counter">177</h1>
                        <p>Brokers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services 1 start -->
<div class="services-1 content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Professional Services</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card service-box">
                    <img class="card-img-top" src="{% static 'img/service/service-1.jpg' %}" alt="service">
                    <div class="card-body detail">
                        <div class="title">
                            <h4><a href="#">Bang Loan</a></h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        <a href="#" class="read-more">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card service-box">
                    <img class="card-img-top" src="{% static 'img/service/service-2.jpg' %}" alt="service">
                    <div class="card-body detail">
                        <div class="title">
                            <h4><a href="#">Security</a></h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        <a href="#" class="read-more">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card service-box">
                    <img class="card-img-top" src="{% static 'img/service/service-3.jpg' %}" alt="service">
                    <div class="card-body detail">
                        <div class="title">
                            <h4><a href="#">Room Service</a></h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        <a href="#" class="read-more">Read more...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card service-box">
                    <img class="card-img-top" src="{% static 'img/service/service-4.jpg' %}" alt="service">
                    <div class="card-body detail">
                        <div class="title">
                            <h4><a href="#">Support 24/7</a></h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                        <a href="#" class="read-more">Read more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}